<h1>文章列表<span class="fui-plus-16" style="margin:20px;"></span></h1>

<div class="container">
	<div class="row">
		<div class="span8">
			<% @articles.each do |article| %>
			<div class="row">
				
				<h5 class="palette palette-firm" id="<%= article.id %>">
					<%= link_to article.title, posts_show_path(article) %>
					<span class="fui-new-24 pull-right hide"></span>
					<span class="fui-cross-24 pull-right delete"></span>
				</h5>
							
			</div>
			<% end %>
		</div>
	</div>
</div>


<script>
$(function(){
	$("body").delegate(".delete", "click", function(data){
		var target = this.parentElement.parentElement;
		console.log(target)
		$.post("/posts/remove", {'id':this.parentElement.id}, function(data){
			target.remove();
		})
	})
})
</script>
