<h1>学期列表</h1>

<div class="container">


			<div class="row">
				
				<h5 class="">
					<input type="text" value="" placeholder="" id="new-term">
					<div class="btn" id="add-term">添加</div>
					<div class="btn" id="cancel-add">取消</div>
				</h5>
							
			</div>

	<div class="row">
		<div id="terms" class="span8">
			<% @terms.each do |term| %>
			<div class="row">
				
				<h5 class="palette palette-firm" id="<%= term.id %>">
					<span><%= term.title %></span>
					<span class="fui-new-24 pull-right relax hide"></span>
					<span class="fui-cross-24 pull-right relax delete"></span>
				</h5>
			</div>
			<% end %>

		</div>
	</div>


</div>

<script>
$(function(){
	$("#add-term").click(function(){

		$.post("/posts/add_term", {'name':$("#new-term").val()}, function(){
				$("#terms").append('<div class="row"><h5 class="palette palette-firm"><span> ' + $("#new-term").val() + ' </span><span class="fui-new-24 pull-right relax hide"></span><span class="fui-cross-24 pull-right relax delete"></></span></h5></div>');

				$("#new-term").val('')
		})
	})


	$("#cancel-add").click(function(){
		$("#new-term").val('')
	})

	$("body").delegate(".delete", "click", function(data){
		
		console.log(this.parentElement.id);
		var target = this.parentElement.parentElement;


		$.post("/posts/remove_term", {'id':this.parentElement.id}, function(data){
				target.remove();
		})

	})
})
</script>
