<h1>作者列表</h1>

<div class="container">

	<div class="row">
		
		<h5 class="">
			<input type="text" value="" placeholder="" id="new-author">
			<div class="btn" id="add-author">添加</div>
			<div class="btn" id="cancel-add">取消</div>
		</h5>
		  <div class="control-group">
		    <label class="control-label" for="editor">介绍</label>
		    <div class="controls">
		      <textarea id="detail" rows="10" column="100" class="input-xxlarge" name="detail" ></textarea>
		    </div>
		  </div>

					
	</div>

	<div class="row">
		<div id="authors" class="span8">
			<% @authors.each do |author| %>
			<div class="row">
				
				<h5 class="palette palette-firm author" id="<%= author.id %>">
					<span><%= author.name %></span>
					<span class="fui-new-24 pull-right relax hide"></span>
					<span class="fui-cross-24 pull-right relax delete"></span>
					<div class="detail-info hide"><%= author.detail %></div>
				</h5>
			</div>
			<% end %>

		</div>
	</div>


</div>

<script>
$(function(){
	$("#add-author").click(function(){

		$.post("/posts/add_author", {'name':$("#new-author").val(),'detail':$("#detail").val()}, function(data){
				$("#authors").append('<div class="row"><h5 class="palette palette-firm author" id="'+ data +'"><span> ' + $("#new-author").val() + ' </span><span class="fui-new-24 pull-right relax hide"></span><span class="fui-cross-24 pull-right relax delete"></></span><div class="detail-info hide">' + $("#detail").val() + '</div></h5></div>');

				$("#new-author").val('');
		})
	})


	$("#cancel-add").click(function(){
		$("#new-author").val('')
	})

	$("body").delegate(".delete", "click", function(data){
		
		console.log(this.parentElement.id);
		var target = this.parentElement.parentElement;


		$.post("/posts/remove_author", {'id':this.parentElement.id}, function(data){
				target.remove();
		})

	})

	$("body").delegate(".author", "click", function(){
		var target = this.children[3];
		$(target).toggle()
	})
})
</script>
