<h1>教科书列表</h1>

<div class="container">


			<div class="row">
				
				<h5 class="">
					<input type="text" value="" placeholder="" id="new-textbook">
					<div class="btn" id="add-textbook">添加</div>
					<div class="btn" id="cancel-add">取消</div>
				</h5>
							
			</div>

	<div class="row">
		<div id="textbooks" class="span8">
			<% @textbooks.each do |textbook| %>
			<div class="row">
				
				<h5 class="palette palette-firm" id="<%= textbook.id %>">
					<span><%= textbook.title %></span>
					<span class="fui-new-24 pull-right relax hide"></span>
					<span class="fui-cross-24 pull-right relax delete"></span>
				</h5>
			</div>
			<% end %>

		</div>
	</div>


</div>

<script>
$(function(){
	$("#add-textbook").click(function(){

		$.post("/posts/add_textbook", {'name':$("#new-textbook").val()}, function(){
				$("#textbooks").append('<div class="row"><h5 class="palette palette-firm"><span> ' + $("#new-textbook").val() + ' </span><span class="fui-new-24 pull-right relax hide"></span><span class="fui-cross-24 pull-right relax delete"></></span></h5></div>');

				$("#new-textbook").val('')
		})
	})

	$("#cancel-add").click(function(){
		$("#new-textbook").val('')
	})

	$("body").delegate(".delete", "click", function(data){
		
		console.log(this.parentElement.id);
		var target = this.parentElement.parentElement;


		$.post("/posts/remove_textbook", {'id':this.parentElement.id}, function(data){
				target.remove();
		})

	})
})
</script>
