<%= form_tag('/posts/new' , :method => "post", :class => "form-horizontal span9") do |f| %>
  <legend>提交课文</legend>
  <div class="control-group">
    <label class="control-label" for="title">标题</label>
    <div class="controls">
      <%= text_field_tag'article[title]', nil,  :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="subtitle">副标题</label>
    <div class="controls">
      <%= text_field_tag'article[subtitle]', nil,  :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="author">作者</label>
    <div class="controls">
      <%= collection_select :article, :author_id, Author.all, :id, :name, {},  :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="textbook">教材</label>
    <div class="controls">
      <%= collection_select :article, :textbook_id, Textbook.all, :id, :title, {},  :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="term">学期</label>
    <div class="controls">
      <%= collection_select :article, :term_id, Term.all, :id, :title, {},  :class => "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="info">相关材料</label>
    <div class="controls">
      <%= text_area_tag 'article[info]', nil, :size => "25x10",  :class => "input-xxlarge" %>
    </div> 
  </div>

  <div class="control-group">
    <div class="controls">
      <button id="check" class="btn" type="button">分析</button>
    </div>
  </div>

  <legend>分析结果</legend>

  <div class="control-group">
    <label class="control-label" for="article">原文</label>
    <div class="controls">
      <pre id="sentences" class="help-block">待分析</pre>
    </div>
  </div>

  <div id='ss'>
  </div>

  <div class="control-group">
    <label class="control-label" for="sentences">content</label>
    <div class="controls" >
      <textarea id="content" name="article[content]"></textarea>
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
      <%= submit_tag "提交", :class => "btn" %>
    </div>
  </div>

<% end %>




<script type="text/javascript">
$(function(){
  $('#check').click(function(){
    var raw = $('#editor').val().trim().split("\n");
    var original = '';
    var sentences = [];

    for (var i = 0; i < raw.length; i++) {
      var raw_line = raw[i];
      if(raw_line=='#'){
        $("#content").append('\n\n');
        // ...
      } else {
        //var re = /(\[.+?\])/g ;
        //var spans = sentence.split(re);
        var spans = raw_line.match(/\[.+?\]/g) || [];
        var line =  raw_line.replace(/\[|\]/g,'');

        console.log(raw_line)
        console.log(line)
        console.log(spans)

        var sentence_text = '<div class="control-group">    <label class="control-label" for="article">句子</label><div class="controls">';
        sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">句子</i></span><input class="input-xxlarge" name="sentences[][content]" type="text" value="' + line + '"></div>';
        sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">翻译</i></span><input class="input-xxlarge" name="sentences[][translation]" type="text"></div>';

        if(spans.length > 0){
          for (var j = 0; j < spans.length; j++) {
            sentence_text += '<br><br>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">单词</i></span><input class="input-xxlarge" name="sentences[][words][][content]" type="text" value="' + spans[j] + '"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">翻译</i></span><input class="input-large" type="text" id="" name="sentences[][words][][translation]"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">词性</i></span><input class="input-large" type="text" id="" name="sentences[][words][][kind]"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">错误项</i></span><input class="input-large" type="text" id="" name="sentences[][words][][mistakes]"></div>';
          };          
        }

        sentence_text += '</div></div>';

        $("#ss").append(sentence_text);
        $("#content").append(line);
      }
    };
  })
})
</script>



