<%= form_tag('/posts/new' , :method => "post", :class => "form-horizontal span9") do |f| %>
  <legend>课文</legend>
  <div class="control-group">
    <label class="control-label" for="title">标题</label>
    <div class="controls">
      <%= @article.title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="subtitle">副标题</label>
    <div class="controls">
      <%= @article.subtitle %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="author">作者</label>
    <div class="controls">
      <%= @article.author.name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="textbook">教材</label>
    <div class="controls">
      <%= @article.textbook.title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="term">学期</label>
    <div class="controls">
      <%= @article.term.title %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="info">相关材料</label>
    <div class="controls">
      <%= @article.info %>
    </div> 
  </div>
  <div class="control-group">
    <label class="control-label" for="editor">课文</label>
    <div class="controls">
      <%= @article。content %>
    </div>
  </div>

  <div id='ss'>
    <% puts @article %>
    <% if @article %>
    <% @article.sentences.each do |s| %>
    <div class="control-group">    
      <label class="control-label" for="article">句子</label>
      <div class="controls">
      <div class="input-prepend">
        <span class="add-on tag"><i class="">句子</i></span><input class="input-xxlarge" name="sentences[][content]" type="text" value="<%= s.content %>">
      </div>
      <div class="input-prepend">
        <span class="add-on tag"><i class="">翻译</i></span><input class="input-xxlarge" name="sentences[][translation]" type="text" value="<%= s.translation %>">
      </div>
      <br><br>
      <% s.words.each do |w| %>
        <div class="input-prepend"><span class="add-on tag"><i class="">单词</i></span><input class="input-xxlarge" name="sentences[][words][][content]" type="text"  value="<%= w.content %>"></></div>
        <div class="input-prepend"><span class="add-on tag"><i class="">翻译</i></span><input class="input-large" type="text" id="" name="sentences[][words][][translation]" value="<%= w.translation %>"></></div>
        <div class="input-prepend"><span class="add-on tag"><i class="">词性</i></span><input class="input-large" type="text" id="" name="sentences[][words][][kind]" value="<%= w.kind %>"></></div>
        <div class="input-prepend"><span class="add-on tag"><i class="">错误项</i></span><input class="input-large" type="text" id="" name="sentences[][words][][mistakes]" value="<%= w.mistakes %>"></div>
      <% end %>
    </div>
    </div>
    <% end %>
    <% end %>
  </div>


<% end %>




<script type="text/javascript">
$(function(){
  $('#check').click(function(){
    var raw = $('#editor').val().trim().split("\n");
    var original = '';
    var sentences = [];

    for (var i = 0; i < raw.length; i++) {
      var raw_line = raw[i];
      if(raw_line=='#'){
        $("#content").append('\n\n');
        // ...
      } else {
        //var re = /(\[.+?\])/g ;
        //var spans = sentence.split(re);
        var spans = raw_line.match(/\[.+?\]/g) || [];
        var line =  raw_line.replace(/\[|\]/g,'');

        console.log(raw_line)
        console.log(line)
        console.log(spans)

        var sentence_text = '<div class="control-group">    <label class="control-label" for="article">句子</label><div class="controls">';
        sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">句子</i></span><input class="input-xxlarge" name="sentences[][content]" type="text" value="' + line + '"></div>';
        sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">翻译</i></span><input class="input-xxlarge" name="sentences[][translation]" type="text"></div>';

        if(spans.length > 0){
          for (var j = 0; j < spans.length; j++) {
            sentence_text += '<br><br>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">单词</i></span><input class="input-xxlarge" name="sentences[][words][][content]" type="text" value="' + spans[j] + '"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">翻译</i></span><input class="input-large" type="text" id="" name="sentences[][words][][translation]"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">词性</i></span><input class="input-large" type="text" id="" name="sentences[][words][][kind]"></div>';
            sentence_text += '<div class="input-prepend"><span class="add-on tag"><i class="">错误项</i></span><input class="input-large" type="text" id="" name="sentences[][words][][mistakes]"></div>';
          };          
        }

        sentence_text += '</div></div>';

        $("#ss").append(sentence_text);
        $("#content").append(line);
      }
    };
  })
})
</script>



