<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>文言文内容管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    
    <!-- Load JS here for greater good =============================-->
    <script src="/js/jquery-1.8.2.min.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/js/custom_checkbox_and_radio.js"></script>
    <script src="/js/custom_radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/application.js"></script>
    <!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->

    <style>
      body { padding-top: 60px; }
      .relax { margin-right: 5px; margin-left: 5px;}
      span.tag {line-height:30px;margin-right: 5px !important;margin-top: 4px !important;}
      a {color: white;
text-decoration: none;}
    </style>

    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <div class="container">
                <div class="brand">文言文后台管理系统</div>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li >
                      <a href="#">
                        管理
                      </a>
                      <ul>
                        <li><a href="<%= posts_new_path %>">添加文章</a></li>
                        <li><a href="<%= posts_index_path %>">文章列表</a></li>
                        <li><a href="<%= posts_list_textbooks_path %>">教科书管理</a></li>
                        <li><a href="<%= posts_list_terms_path %>">学期管理</a></li>
                        <li><a href="<%= posts_list_authors_path %>">作者管理</a></li>
                        <li><a href="<%=  %>">API说明</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
